@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,300,400,700');

.container {
  display: flex;

  a {
    text-decoration: none;
    color: #FFFFFF;

    &:hover {
      color: #B1BDC5;
    }
  }

  span.light {
    color: #B1BDC5;
  }

  .left {
    background-color: #283E4A;
    color: #FFFFFF;
    padding: 10vh 5vw;
    flex: 1;

    .section {
      margin-bottom: 5vh;
      font-size: 1em;

      .info {
        div {
          margin: 1vh auto 1vh 0.75vw;
          font-size: 0.9em;
        }
      }
    }
  }

  .right {
    padding: 10vh 5vw;
    flex: 4;
    color: #191A1B;

    .user-profile {
      .name {
        font-size: 2em;
      }

      .job {
        line-height: 2em;
        font-size: 0.9em;
      }

      .address {
        font-size: 0.9em;
        color: #969B9C;
      }
    }

    .extract, .experience, .education {
      margin: 2em auto;
      line-height: 1.3em;
    }

    .extract .title, .experience .title, .education .title {
      font-size: 1.2em;
      margin-bottom: 1em;
    }

    .extract .body, .experience .job .company, .experience .job .charge, .education .grade .place {
      font-size: 0.9em;
    }

    .experience .job, .education .grade {
      margin: 1em auto;
    }

    .experience .job .duration, .education .grade .degree {
      font-size: 0.8em;
    }

    .extract {
      .body {
        width: 60vw;
        text-align: justify;
      }
    }

    .separator {
      border: 1px solid rgba(150, 155, 156, 0.6);
      width: 4em;
    }
  }
}

@media(max-width: 412px) {
  .container {
    flex-direction: column;

    .left {
      .section {
        .info {
          p {
            margin: 1vh 4vh 1vh auto;
          }
        }
      }
    }

    .right {
      .experience .job .duration, .education .grade .degree {
        margin-right: 8vw;
      }
    }
  }
}
